<head>
	<!-- y'know, basic stuff -->
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<!-- CODE FOR BEING RESPONSIVE -->
	<meta name="viewport" content="width=device-width, target-densitydpi=160dpi, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">

	<!-- link for favi -->
	<link href='../images/favicon.png' rel="shortcut icon" />
	

	<!-- *******************************************  -->
	<!-- *******************title*******************  -->
	<title></title>


	<!-- part of responsive, doesn't do anything? -->
	<!-- <link rel="stylesheet" media="all" href="css/reset.css" /> -->
	
	<!-- responsive import -->
	<link rel="stylesheet" media="all" href="css/responsive.gs.12col.css" />
	
	<!-- css import -->
	<link rel="stylesheet" media="all" href="css/style.css" />
	
	<!-- somethinge something something -->
	<script src="scripts/respond.min.js"></script>

	<!-- php imports -->
	<script src="scripts/functions.php"></script>
	<script src="scripts/parse_functions.php"></script>

	<!-- angular import -->
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
	<script type="text/javascript" src="scripts/cardtest.js"></script>

	<!-- tablesorter import -->
	<!-- jQuery: required (tablesorter works with jQuery 1.2.3+) -->
	<script src="docs/js/jquery-1.2.6.min.js"></script>
	
	<link href="css/theme.default.css" rel="stylesheet">
	<script src="js/jquery.tablesorter.min.js"></script>
	<script src="js/jquery.tablesorter.widgets.min.js"></script>
	<script src="js/sorter.js"></script>

</head>